{% extends "base.html" %} 
{% load static %}

{% block title %}
  Home
{% endblock title %}
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      {% block content %}
        
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>Welcome to</span>
                                 <h1>Thaparians Coding Mania</h1>
                                 <p>Join in for a free and self-paced journey through a tailored selection of Coding Club tutorials, quizzes and practical challenges and the chance to get a certificate for your work. </p>
                                 <a href="http://tpc.ac.in/" target="_blank">Read More </a> <a href="{% url 'signup' %}">Register</a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>Welcome to</span>
                                 <h1>TCM</h1>
                                 <p>We are working with great people with a strong motivation to teach and learn. Here you can read more about the Coding Club team and our collaborators.</p>
                                 <a href="#">Read More </a> <a href="#">Register</a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'Home/images/1102024.jpg' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>Welcome to</span>
                                 <h1>TCM</h1>
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
                                 <a href="#">Read More </a> <a href="#">Register</a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'Home/images/1102010.jpg' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- service -->
      <div id="service"  class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> <img src="{% static 'Home/images/head.png' %}" alt="#"/> Our Services</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="hover_chang" class="service_box">
                     <i><img src="{% static 'Home/images/thr.png' %}" alt="#"/></i>
                     <h3>C/C++</h3>
                     <p>We support the future development of Coding Club through mentorship and training.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_chang" class="service_box">
                     <i><img src="{% static 'Home/images/thr1.png' %}" alt="#"/></i>
                     <h3>COMPETITIVE</h3>
                     <p>We empower students and future professionals to answer research questions and harness the power of data.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_chang" class="service_box">
                     <i><img src="{% static 'Home/images/thr2.png' %}" alt="#"/></i>
                     <h3>PYTHON</h3>
                     <p>We establish links between organisations and institutions which develop latest programming skills.</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="https://cses.fi/book/book.pdf" target="_blank">Read More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- service -->
      <!-- about -->
      <div id="about"  class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-9">
                  <div class="titlepage"><center>
                     <h2> <img src="{% static 'Home/images/head.h.png' %}" alt="#"/> About Our Club</h2>
                     <p>We are an programming group of computer science and engineering students from the Thapar University. We want to replace statistics anxiety and code fear with inspiration and motivation to learn. We believe that coding can be really fun and also understand the importance of quantitative skills for professional development.
                        Over the last two years we have been writing tutorials as well as organising in-person and online workshops. All of our materials are free for people to use and adapt. </p>
                     <a class="read_more">Read More</a></center>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- customer -->
      <div id="customer" class="customer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> <img src="{% static 'Home/images/head.png' %}" alt="#"/> Our Customer Feedback</h2>
                  </div>
               </div>
            </div>
            <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption ">
                           <div class="test_box">
                              <i><img src="{% static 'Home/images/tes.png' %}" alt="#"/></i>
                              <h4>Sanyam Goyal</h4>
                              <span>customer</span>
                              <p>I am a third year Diploma student studying in Thapar Polytechnic College. When I started learning to code I thought of it as a means to an end to analyze my data, but now coding is one of my favorite parts of my research! I am excited to be a part of coding club and help others on their journey to being comfortable coding.</p>
                              <img src="{% static 'Home/images/icon.png' %}" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="test_box">
                              <i><img src="{% static 'Home/images/tes.png' %}" alt="#"/></i>
                              <h4>Vinit Singla</h4>
                              <span>customer</span>
                              <p>Hi everyone! I'm a Computer science student pursuing my Diploma from Thapar University! A long term attendee and fan of coding club, I finally joined the team in 2021, helping out with workshops, content, and maintaining the website.</p>
                              <img src="{% static 'Home/images/icon.png' %}" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="test_box">
                              <i><img src="{% static 'Home/images/tes.png' %}" alt="#"/></i>
                              <h4>Manjot Singh</h4>
                              <span>customer</span>
                              <p>I started loving coding after I joined TCM club. </p>
                              <img src="{% static 'Home/images/icon.png' %}" alt="#"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class="fa fa-chevron-left" aria-hidden="true"></i>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <i class="fa fa-chevron-right" aria-hidden="true"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- end customer -->
      </div>
      <!--  contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> <img src="{% static 'Home/images/head.h.png' %}" alt="#"/><span class="white">Request A Call Back</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <form  action= "" method = "post" id="request" class="main_form">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Name" type="type" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone Number" type="type" name="PNumber">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="type" name="message" Message="Name">Message </textarea>
                        </div>
                        <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.807200840987!2d76.36251251445151!3d30.356428810723077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391028ab86533db5%3A0x93cc1f72eae1c9a8!2sThapar%20Institute%20of%20Engineering%20%26%20Technology%20(TIET)%2C%20Patiala!5e0!3m2!1sen!2sin!4v1651402672156!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
               </div>
            </div>
         </div>
      </div>
      {% endblock content %}
      <!-- end contact -->
   