{% extends "base.html" %}
{% load static %}




{% block title %}
{{ post.title_tag  }}
{% endblock title %}


{% block css_files %}
<link rel="stylesheet" href = "{% static 'Blog/style.css' %}">

{% endblock%}


{% block content %}
<div class="container detail">


  <h1>{{ post.title }}</h1>
  <small>By: {{ post.author.first_name}} {{ post.author.last_name }}</small>
  <br>
  <hr>
  <p> {{ post.body }}</p>
  <br>
  <a class="btn btn-secondary" href="{% url 'blog_home' %}">Back</a>
</div>
{% endblock content %}