{% extends "base.html" %}
{% load static %}




{% block title %}
{{ post.title_tag  }}
{% endblock title %}


{% block css_files %}
<link rel="stylesheet" href = "{% static 'Blog/style.css' %}">

{% endblock%}


{% block content %}
<div class="container detail">


  <p class="h1">{{ post.title }}</p>
  <p class="h5">By: {{ post.author.first_name}} {{ post.author.last_name }} - {{ post.date }} - <a href="{% url 'updatepost' post.pk  %}">(Edit)</a> &nbsp; <a href="{% url 'deletepost' post.pk  %}">(Delete)</a></p>
  <br>
  <hr>
  <p class="h2"> {{ post.body }}</p>
  <br>
  <a class="btn btn-secondary" href="{% url 'blog_home' %}">Back</a>
</div>
{% endblock content %}
