{% extends "base.html" %}
{% load static %}




{% block title %}
Delete Post
{% endblock title %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'Blog/style.css' %}">

{% endblock%}


{% block content %}
<div class="container delete_post">

<br>
    <h1> Delete Post...</h1>
    <br>
    <h3>Delete: {{ post.title }} </h3>
    <div class="form-group">

   
    <form method="post">
        {% csrf_token %}
        <br>
        <strong>Are you sure!</strong>
        <br>
        <button class="btn btn-secondary" type="submit">Delete </button>
    </form>
</div>
</div>
{% endblock content %}