{% extends "base.html" %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href = "{% static 'Blog/style.css' %}">

{% endblock%}


{% block title %}
  Posts
{% endblock title %}
{% block content %}
  <div class="container blog-home">

  
<h1>Posts</h1>
<ol >
  {% for post in object_list %}
  <li><a class="title" href="{% url 'detailpost' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }}
    {{ post.author.last_name }} {{ post.author.email}} <br>
    {{ post.body }}</li>
    {% empty %}
    <li>No posts yet.</li>
    {% endfor %}
    </ol>
  </div>
    {% endblock content %}
